{% extends "base.html" %}

{% block headContent %}
    <style type="text/css">
        body {
            color: #DDD;
        }

        .ui.form .field > label {
            color: #DDD;
        }

        li {
            color: #DD8129;
        }
    </style>
{% endblock headContent %}

{% block bodyContent %}

    <div class="ui grid container">
        <div class="row">
            <div class="column">
                <h2 class="ui header" style="color: #DDD">{{ title|capfirst }} Form </h2>
                <hr/>
                <br/>
                <form class="ui form" method='post' action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="ui button" value="{{ title|capfirst }}"/>
                    {% if title == 'Login' %}
                        <a class="ui button" href="{% url "account:register" %}"> Register </a>
                    {% endif %}
                </form>
                <div style="min-height:200px"></div>
            </div>
        </div>
    </div>

{% endblock bodyContent %}