appdirs==1.4.3
Django==1.10
django-guardian==1.4.8
django-userena==2.0.1
easy-thumbnails==2.4.1
html2text==2014.12.29
numpy==1.13.0
olefile==0.44
packaging==16.8
pandas==0.20.2
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.14.2
six==1.10.0
TA-Lib==0.4.10
