{% extends "account_base.html" %}

{% block title %}Login{% endblock %}

{% block formBlock %}
    <h2 class="ui header" style="color: #DDD">Login Form </h2>
    <hr/>
    <br/>
    <form class="ui form" method='post' action='' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="ui button" value="Login"/>
        <a class="ui button" href="{% url "account:register" %}"> Register </a>
        {#        <a class="ui button" href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>#}
    </form>
    <br>
    <p><a class="link" href="{% url "account:password_reset" %}">Forgotten your password?</a></p>
    {#    <div style="min-height:300px"></div>#}
{% endblock %}
