{% extends "account_base.html" %}

{% block title %}بازیابی رمز عبور{% endblock %}

{% block formBlock %}
    <h1>بازیابی رمز عبور</h1>
    <hr/>
    <br/>
    {% if validlink %}
        <p>لطفا رمز عبور جدید خود را وارد کنید.</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>لینک بازیابی رمز عبور شما منتقضی شده است، لطفا از اول تلاش کنید.</p>
    {% endif %}
{% endblock %}