.sell__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    border: none;
    background: #e74c3c;
    border-radius: 4px;
    margin-left: 3rem;
    margin-top: 0.75rem;
    cursor: pointer;
    font-family: IRANSans;
    color: #fff;
}

.buy__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    background: #09cac8;
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    cursor: pointer;
    font-family: IRANSans;
    color: #fff;
    }

#CompanyName {
    display: inline-block;
    color:white;
    font-size: 1.5rem;
    margin-top: 0.9rem;
    margin-right:2rem;
    float: right;
}

#InstrumentName {
    display: inline;
    color:white;
    font-size: 1rem;
    margin-top: 1.2rem;
    float: right;
    padding-right:0.1rem;
}

.sw__boxes > div {
    border: 1px solid #323651;
    border-right-color: #00ca9d;
}
.boxes {
    display: block;
    position: absolute;
    width: 30%;
    height: 12vh;
    background: #22263d;

}
#costs {
     
    border-radius: 3px;
    top: 8.5%; right: 0.5%;
    text-align: right;
	font-family: IRANSans;

}

#periods {
     
    border-radius: 3px;
    top: 8.5%; right: 31%;
    text-align: right;

}

#deals {
     
    border-radius: 3px;
    top: 22.5%; right: 0.5%;
    text-align: right;
}

#rates {
     
    border-radius: 3px;
    top: 22.5%; right: 31%;
    text-align: right;
}

#sell-buy-count {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 38%;
    height: 26.8%;
    background: #22263d;
    left: 0.5%;
    top: 8.5%;
}

#last-sell {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 30%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 0.5%;
    text-align: right;
}

#epsbox {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 20%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 31%;
    text-align: right;
}

#queue {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 20%;
    background: #22263d;
    top: 46.5%; right: 0.5%;
    text-align: right;
}

#chart {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 48%;
    height: 30%;
    background: #22263d;
    left: 0.5%;
    top: 36.5%;
}

#portfo {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 0.5%;
    text-align: right;
}

#column {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 4%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 51.5%;
    text-align: right;
}

#hotlist {
     
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 43.5%;
    height: 27%;
    background: #22263d;
    left: 0.5%;
    top: 67.5%;
}

/* ****************************************************** */

.divTable{
	display: table;
	width: 100%;
	height: 86%;
	padding: 2% 0 2% 0;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: none;
	display: table-cell;
	padding: 3px 10px;
    text-align: center;
    font-size: 0.95rem;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


/***************************************************************/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
    font-family: IRANSans;
}

.modal-content {
    position: relative;
    background-color: #f6f7f9;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    direction: rtl;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #cccfd1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #797a7c;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #f6f7f9;
    color: #f6f7f9;
    border-bottom: 1px solid #eaecef;
    height:5%;
}

.modal-body{
    direction:rtl;
}

.modal-body select,
.modal-body input,
.modal-body button {
    height: 6%;
    width: 12rem;
    border-radius: 4px;
    border: none;
    font-family: IRANSans;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 1rem;
}

.modal-body select{
    background: white;
}

#input_buy{
    color: #fff;
    background: #09cac8;
    transition: background-color 0.3s ease;
}

#input_buy:hover{
    cursor: pointer;
    color: #fff;
    background: #0dadab;
    transition: background-color 0.3s ease;
}
#input_sell{
    color: #fff;
    background: #e05567;
    transition: background-color 0.3s ease;
}

#input_sell:hover{
    cursor: pointer;
    color: #fff;
    background: #d64659;
    transition: background-color 0.3s ease;
}



#sellModal button{
    color: #fff;
    background: #e05567;
    transition: background-color 0.3s ease;
}

#sellModal button:hover{
    color: #fff;
    background: #d64659;
    transition: background-color 0.3s ease;
}

.modal-body h1{
    font: 1.3rem IRANSans;
    color: #333;
    display:block;
    position: absolute;
    right: 1rem;
    margin: 1rem 1rem;
}


.modal-body label {
    color: #111;
    display:block;
    margin: 0 -9rem -1rem 0;
}

.modal-body .group{
    display: inline-block;
    direction: rtl;
}
#nav-bar2 {
    display: block;
    position: absolute;
    width: 99%;
    height: 8%;
    background: #1c1f32;
    margin: 0 auto;
    margin-bottom: 1%;
    left: 0;
    right: 0;
    top: 1%;
}