@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb_Bold.eot');
	src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb.eot');
	src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: IRANSans;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    text-decoration: none;
    color: white;
}

body {
	line-height: 1;
    font-family: "IRANSans";
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#sell-buy {
    display: block;
    position: fixed;
    width: 93%;
    height: 6%;
    background: #22263d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 9%;
}

#sell__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    background: #09cac8;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

#buy__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    background: #e74c3c;
    border-radius: 4px;
    margin-left: 3rem;
    margin-top: 0.75rem;
}

#CompanyName {
    display: inline-block;
    color:white;
    font-size: 1.5rem;
    margin-top: 0.9rem;
    margin-right:2rem;
}

#InstrumentName {
    display: inline;
    color:white;
    font-size: 1rem;
    margin-top: 0.9rem;
}

.boxes {
    display: block;
    position: absolute;
    width: 30%;
    height: 12vh;
    background: #22263d;

}
#costs {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 8.5%; right: 0.5%;
    text-align: right;
	font-family: IRANSans;

}

#periods {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 8.5%; right: 31%;
    text-align: right;

}

#deals {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 22.5%; right: 0.5%;
    text-align: right;
}

#rates {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 22.5%; right: 31%;
    text-align: right;
}

#sell-buy-count {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 38%;
    height: 26.8%;
    background: #22263d;
    left: 0.5%;
    top: 8.5%;
}

#last-sell {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 30%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 0.5%;
    text-align: right;
}

#epsbox {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 20%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 31%;
    text-align: right;
}

#queue {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 20%;
    background: #22263d;
    top: 46.5%; right: 0.5%;
    text-align: right;
}

#chart {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 48%;
    height: 30%;
    background: #22263d;
    left: 0.5%;
    top: 36.5%;
}

#portfo {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 0.5%;
    text-align: right;
}

#column {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 4%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 51.5%;
    text-align: right;
}

#hotlist {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 43.5%;
    height: 27%;
    background: #22263d;
    left: 0.5%;
    top: 67.5%;
}

/* ****************************************************** */

.divTable{
	display: table;
	width: 100%;
	height: 86%;
	padding: 2% 0 2% 0;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: none;
	display: table-cell;
	padding: 3px 10px;
    text-align: center;
    font-size: 0.95em;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
