




#sell__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    background: #09cac8;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

#buy__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    background: #e74c3c;
    border-radius: 4px;
    margin-left: 3rem;
    margin-top: 0.75rem;
}

#CompanyName {
    display: inline-block;
    color:white;
    font-size: 1.5rem;
    margin-top: 0.9rem;
    margin-right:2rem;
    float: right;
}

#InstrumentName {
    display: inline;
    color:white;
    font-size: 1rem;
    margin-top: 1.2rem;
    float: right;
    padding-right:0.1rem;
}

.boxes {
    display: block;
    position: absolute;
    width: 30%;
    height: 12vh;
    background: #22263d;

}
#costs {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 8.5%; right: 0.5%;
    text-align: right;
	font-family: IRANSans;

}

#periods {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 8.5%; right: 31%;
    text-align: right;

}

#deals {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 22.5%; right: 0.5%;
    text-align: right;
}

#rates {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    top: 22.5%; right: 31%;
    text-align: right;
}

#sell-buy-count {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 38%;
    height: 26.8%;
    background: #22263d;
    left: 0.5%;
    top: 8.5%;
}

#last-sell {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 30%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 0.5%;
    text-align: right;
}

#epsbox {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 20%;
    height: 9%;
    background: #22263d;
    top: 36.5%; right: 31%;
    text-align: right;
}

#queue {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 20%;
    background: #22263d;
    top: 46.5%; right: 0.5%;
    text-align: right;
}

#chart {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 48%;
    height: 30%;
    background: #22263d;
    left: 0.5%;
    top: 36.5%;
}

#portfo {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 50.5%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 0.5%;
    text-align: right;
}

#column {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 4%;
    height: 27%;
    background: #22263d;
    top: 67.5%; right: 51.5%;
    text-align: right;
}

#hotlist {
    border-right: 2px solid #00ca9d;
    border-radius: 3px;
    display: block;
    position: absolute;
    width: 43.5%;
    height: 27%;
    background: #22263d;
    left: 0.5%;
    top: 67.5%;
}

/* ****************************************************** */

.divTable{
	display: table;
	width: 100%;
	height: 86%;
	padding: 2% 0 2% 0;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: none;
	display: table-cell;
	padding: 3px 10px;
    text-align: center;
    font-size: 0.95em;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
