{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block headContent %}
    {% endblock headContent %}
</head>
<body>
<div id="username-block">
    <a id="username-text" href="#">هادی جمشیدی</a>
    <img id="user-pic" height="35px" width="35px" src="/media/pictures/hadi.jpeg" title="I'm Professional"/>
</div>
<ul id="top-btns">
    <a href="{% url 'finance:stockwatch' %}">
        <li class="main-btns" id="home-btn"></li>
    </a>
    <li class="main-btns" id="search-btn"></li>
    <a href="{% url 'finance:marketwatch' %}">
        <li class="main-btns" id="marketwatch-btn"></li>
    </a>
    <a href="{% url 'finance:backtest' %}">
        <li class="main-btns" id="backtest-btn"></li>
    </a>
</ul>
<ul id="left-btns">
    <a href="#">
        <li class="main-btns" id="setting-btn"></li>
    </a>
    <a href="#">
        <li class="main-btns" id="info-btn"></li>
    </a>
    <a href="{% url 'accounts:userena_signout' %}">
        <li class="main-btns" id="logout-btn"></li>
    </a>
</ul>
<div id="master__wrapper" style="height:100%; overflow-y:auto" dir="rtl">
    {% block bodyContent %}
    {% endblock bodyContent %}
</div>
</body>

</html>