{% load static %}
<!doctype html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <title>X-Trader</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>

<section class="fullpage" id="header">
    <div id="particle">
        <div id="overlay">
            <h1>X-Trader</h1>
            <h2>یک آنلاین حرفه ای ، برای یک معامله گر حرفه ای</h2>
            <h6>با ما حرفه ای شوید</h6>
            <div id="btn_wrapper">
                <a href="{% url 'accounts:userena_signin' %}"><h3 id="sign_in">ورود</h3></a>
                <a href="{% url 'accounts:userena_signup' %}"><h3 id="sign_up">ثبت‌نام</h3></a>
                <a id="what_we_do" href="#what_we_do2">ما چه می‌کنیم؟ <i></i></a>
            </div>
        </div>
        <div id="parallax_container">
            <div id="overview_img"></div>
        </div>
    </div>
    <script src="{% static 'js/particle.js' %}"></script>
</section>

<section class="fullpage" id="online_strategy">

    <h1>يک قدم جلوتر از بازار‌</h1>
    <div id="boxes_parent">
        <section class="options_box">
            <img src="/media/img/presentation.svg" alt="Market Watch" >
            <h2>دیده بان تحلیلی</h2>
            <p>
                <ul>
                    <li>فیلتر لحظه ای بازار بر مبنای:</li>
                    <li>فیلترهای بنیادی و نسبت های مالی</li>
                    <li>فیلترهای تکنیکال</li>
                    <li>اطلاعات تابلو</li>
                </ul>
            </p>
        </section>
        <section class="options_box">
            <img src="/media/img/time-passing.svg" alt="Market Watch" >
            <h2>مدیریت معاملات</h2>
            <p>
                <ul>
                    <li>خرید و فروش سهام</li>
                    <li>مدیریت پرتفوی</li>
                    <li>قابلیت تنظیم هشدار بر روی ابزارها</li>
                    <li></li>
                </ul>
            </p>
        </section>
        <section class="options_box">
            <img src="/media/img/time-is-money.svg" alt="Market Watch" >
            <h2>بک تست</h2>
            <p>
                <ul>
                    <li>تست استراتژی تکنیکال بدون نیاز به کدنویسی</li>
                    <li>اسکن استراتژی بازار برای یافتن سیگنال</li>‌
                </ul>
            </p>
        </section>
    </div>

    <div id="waves"></div>
</section>

<section class="fullpage" id="what_we_do2" name="what_we_do2">
    <div id="tabletpic"></div>
    <h1>ما چه می‌کنیم؟</h1>
    <img src="/media/img/about.png" align="left" style="width:60%;height:60%;">
    <p>سامانه آنلاین معاملاتی در اختیار مشتریان قرار می‌دهیم، در سامانه XTrader برای راحتی کاربران و تسهیل در امر بررسی
        روزانه سهام شرکت‌ها دیده‌بان قدرتمندی طراحی کرده‌ایم. نوآوری در ابزار‌ها، اتوماتیک بودن، سهولت در استفاده، سرعت
        و دقت از ویژگی‌ها منحصر بفرد XTrader هستند.</p>
    <a href="#">بیشتر بخوانید <i>x</i></a>

</section>

<section class="fullpage" id="our_capabilities">
    <h1>قابلیت‌ها X-Trader</h1>
    <h2>شاید قدرت تحلیلگر محدود باشد، اما یک آنلاین می‌تواند قدرت نامحدودی داشته باشد</h2>
    <div id="middle_img" style="width:10%;height:10%;right:42%;position:absolute;margin:5em 0 0 3em">
        <img src="/media/img/mtrader.png">
    </div>
    <div id="rightside_box">
        <h3>دیده بان قدرتمند</h3>
        <p>بدون نیاز به دانش فیلتر نویسی و تنها با کلیک کردن می توانید فیلتر خود رابسازید، بازار را فیلتر کنید و سهم
            مطلوب خود را پیدا کنید و سپس در کوتاه ترین زمان خرید کنید.</p>
        <h3>فیلتر‌ها متنوع</h3>
        <p>فیلتر کردن اطلاعات تابلو، ترازنامه، نسبت‌ها مالی، اندیکاتور‌ها، اطلاعات صف و ... بخش کوچکی از ویژگی‌ها آنلاین
            XTrader هستند.</p>
        <h3>داشبورد تکنیکال</h3>
        <p>استراتژی تکنیکال بر مینا اندیکاتور‌ها بسازید، بک تست بگیرید سپس بازار را اسکن کنید و سیگنال‌ها خرید و فروش را
            ببنید.</p>
        <!--
                <h3>حد سود و ضرر</h3>
                <p>در هنگام ساخت استراتژی و بک تست گرفتن می‌توانید حد سود و ضرر تعیین کنید.</p>
        -->
    </div>

    <div id="leftside_box">
        <h3>ساختن خودکار استراتژی</h3>
        <p>با استفاده از این قابلیت تحلیل گران تکنیکال می توانند فیلترها مختلفی مانند قطع دادن، صعودی نزولی بودن
            اندیکاتورها را به صورت خودکار اضافه کنند و در نهایت برای خود استراتژی بسازند.</p>
        <h3>بک تست</h3>
        <p>این قابلیت به شما امکان می دهد تا عملکرد استراتژی خود را در گذشته روی نمادها مطلوب خود ببینید. سود و زیان
            استراتژی­‌ها مختلف را بسهولت مقایسه کنید و بهترین آنها را انتخاب کنید.</p>
        <h3>سیستم اعلان</h3>
        <p>با ثبت نام در سایت و ‌‌ذخیره کردن فیلتر‌ها و استراتژی خود می‌توانید روزانه نتایج فیلتر کردن بازار را دریافت
            کنید.</p>
    </div>
</section>

<section class="fullpage" id="additional_info">
    <div id="info_wrapper">
        <h1>متن آزمایشی</h1>
        <h2>طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و</h2>
        <p>طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل ظاهری و کلیِ طرح
            سفارش‌گرفته‌شده استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد.</p>
    </div>
    <div id="neximg" style="margin:3em 0 0 0">
        <img src="/media/img/laptop.png" alt="Trader-Laptop" style="width:65%;height:65%;float:left;">
    </div>
    <!-- my code
    <section id="guide">
        <div class="container">
            <div id="div1">
                <h3>راهنما</h3>
                <p>طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ و کلیِ</p>
            </div>
            <div id="div2">
                <img src="/media/img/video.png" style="width:85%;height:85%;">
            </div>
            <div id="div3">
                <img src="/media/img/video.png" style="width:85%;height:85%;">
            </div>
        </div>
    </section>
    -->

    <section id="guide">

        <div id="div1">
            <h3>راهنما</h3>
            <p>طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ و کلیِ</p>
        </div>

        <div id="div2">
            <div id="vid2">
            <img src="/media/img/video.png" style="width:35%;height:35%;">
            </div>
            <p>نشانگر چگونگی نوع</p>
            <div></div>
        </div>

        <div id="div3">
            <div id="vid2">
                <img src="/media/img/video.png" style="width:35%;height:35%;">
            </div>
            <p>نشانگر چگونگی نوع</p>
            <div class="vidlength"></div>
        </div>

        <div id="div4">
            <div id="vid3">
                <img src="/media/img/video.png" style="width:35%;height:35%;">
            </div>
            <p>نشانگر چگونگی نوع</p>
            <div class="vidlength"></div>
        </div>

    </section>
</section>
<!-- Account
<section class="fullpage" id="choose_acc">
    <h1>حساب کاربری خود را انتخاب کنید</h1>
    <h2>به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</h2>

    <div id="packages_parent">
        <section class="plist" id="p1">
            <h3>پکیج</h3>
            <p>تست</p>
            <p>رایگان</p>
            <hr/>
            <ul>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
            </ul>
            <a>شروع کنید</a>
        </section>

        <section class="plist" id="p2">
            <h3>پکیج</h3>
            <p>تست</p>
            <p>رایگان</p>
            <hr/>
            <ul>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
            </ul>
            <a>شروع کنید</a>
        </section>

        <section class="plist" id="p3">
            <h3>پکیج</h3>
            <p>تست</p>
            <p>رایگان</p>
            <hr/>
            <ul>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
                <li>تست</li>
            </ul>
            <a>شروع کنید</a>
        </section>
    </div>

    <div id="backup">
        <p>:پشتیبانی<i>x</i><span>021-22419418</span></p>
    </div>

    <div id="signup-invite">
        <p>برای استفاده برای استفاده برای استفاده برای استفاده</p>
        <a>ثبت نام</a>

    </div>
</section> -->

<section id="footer">
    <div style="width:25%;height:25%;">
        <h1 style="margin:5%">X-Trader<i>x</i></h1>
        <p style="margin:5%">طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و</p>
    </div>
    <div id="footer_section_wrapper">
        <div class="footersec">
            <hr/>
            <p>تماس با ما</p>
            <ul>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
            </ul>
        </div>
        <div class="footersec">
            <hr/>
            <p>تماس با ما</p>
            <ul>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
            </ul>
        </div>
        <div class="footersec">
            <hr/>
            <p>تماس با ما</p>
            <ul>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
            </ul>
        </div>
        <div class="footersec">
            <hr/>
            <p>تماس با ما</p>
            <ul>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
                <li>آدرس</li>
            </ul>
        </div>
    </div>
</section>

    <div id="footerend">
        <p style="display:inline-block;">کلیه حقوق حقوق حقوق حقوق</p>
        <ul>
            <li>telegram</li>
            <li>instagram</li>
            <li>twitter</li>
        </ul>
    </div>

</body>

</html>
