{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block headContent %}
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/stockwatchstyle.css' %}"/>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="//raw.githack.com/tahajahangir/jdate/master/jdate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>

<script>
        var SymbolId = "{{ SymbolId }}" ;




</script>
<script type="text/javascript" src="{% static 'js/stockwatch.js' %}"></script>
{% endblock headContent %}

{% load i18n %}
{% block bodyContent %}

<div id="nav-bar">
    <span id="CompanyName"></span>
    <span id="InstrumentName"></span>
    <button class="sell__btn" id="">فروش</button>
    <button class="buy__btn" id="buyBtn">خرید</button>


    <!-- The Modal -->
    <div id="buyModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <h1>نام نماد</h1>

                <div class="group">
                    <label for="buyModal__count">تعداد</label>
                    <input type="text" name="buyModal__count" id="buyModal__count">
                </div>

                <div class="group">
                    <select>
                        <option>حساب کارگذاری</option>
                    </select>
                </div>

                <div class="group">
                    <label for="buyModal__count">تعداد</label>
                    <input type="text" name="buyModal__count" id="buyModal__price">
                </div>

                <div class="group">
                    <label for="buyModal__count">تعداد</label>
                    <input type="text" name="buyModal__count" id="buyModal__volume">
                </div>

                <div class="group">
                <select>
                    <option>حساب کارگذاری</option>
                </select>
                </div>

                <div class="group">
                    <button>خرید</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="boxes" id="costs">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">خرید</div>
                <div class="divTableCell">معامله</div>
                <div class="divTableCell">فروش</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell" id="pd1"></div>
                <div class="divTableCell" id="LastTradePrice"></div>
                <div class="divTableCell" id="po1"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">اولین</div>
                <div class="divTableCell">پایانی</div>
                <div class="divTableCell">دیروز</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell" id="FirstTradePrice"></div>
                <div class="divTableCell" id="ClosingPrice"></div>
                <div class="divTableCell" id="PreviousDayPrice"></div>
            </div>
        </div>
    </div>
</div>
<div class="boxes" id="periods">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">بازه روز</div>
                <div class="divTableCell" id="HighestTradePrice"></div>
                <div class="divTableCell" id="LowestTradePrice"></div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell">قیمت مجاز</div>
                <div class="divTableCell" id="UpperPriceThreshold"></div>
                <div class="divTableCell" id="LowerPriceThreshold"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">بازه سال</div>
                <div class="divTableCell" id="YearHighestTradePrice"></div>
                <div class="divTableCell" id="YearLowestTradePrice"></div>
            </div>

        </div>
    </div>
</div>
<div class="boxes" id="deals">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">تعداد معاملات</div>
                <div class="divTableCell" id="TotalNumberOfTrades"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">حجم معاملات</div>
                <div class="divTableCell" id="TotalNumberOfSharesTraded"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">ارزش معاملات</div>
                <div class="divTableCell" id="TotalTradeValue"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">ارزش بازار</div>
                <div class="divTableCell" id="InstrumentMarketValue"></div>
            </div>
        </div>
    </div>
    <!-- DivTable.com -->
</div>
<div class="boxes" id="rates">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">تعداد سهام</div>
                <div class="divTableCell" id="NumberOfSharesOrBonds"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">حجم مبنا</div>
                <div class="divTableCell" id="BaseQuantity"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">سهام شناور</div>
                <div class="divTableCell" id="FreeFloatPercent"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">میانگین حجم ماه</div>
                <div class="divTableCell" id="MonthAverageVolume"></div>
            </div>
        </div>
    </div>
</div>
<div id="sell-buy-count">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">حجم</div>
                <div class="divTableCell">خرید</div>
                <div class="divTableCell">فروش</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">حقیقی</div>
                <div class="divTableCell" id="BuyIndividualVolume"></div>
                <div class="divTableCell" id="SellIndividualVolume"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">حقوقی</div>
                <div class="divTableCell" id="BuyFirmVolume"></div>
                <div class="divTableCell" id="SellFirmVolume"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">تعداد</div>
                <div class="divTableCell">خرید</div>
                <div class="divTableCell">فروش</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">مجموع</div>
                <div class="divTableCell" id="TotalBuy"></div>
                <div class="divTableCell" id="TotalSell"></div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell">حقیقی</div>
                <div class="divTableCell" id="BuyIndividualCount"></div>
                <div class="divTableCell" id="SellIndividualCount"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">حقوقی</div>
                <div class="divTableCell" id="BuyFirmCount"></div>
                <div class="divTableCell" id="SellFirmCount"></div>
            </div>
        </div>
    </div>
    <!-- DivTable.com -->
</div>
<div id="last-sell">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">آخرین معامله</div>
                <div class="divTableCell" id="LastTradeDate"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">وضعیت</div>
                <div class="divTableCell" id="InstrumentStateTitle"></div>
            </div>
        </div>
    </div>
</div>
<div id="epsbox">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">EPS</div>
                <div class="divTableCell" id="Eps" dir="ltr"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">P/E</div>
                <div class="divTableCell" id="PricePerEarning" dir="ltr"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">P/E گروه</div>
                <div class="divTableCell" id="PricePerEarningGroup" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
<div id="queue">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">تعداد</div>
                <div class="divTableCell">حجم</div>
                <div class="divTableCell">خرید</div>
                <div class="divTableCell">فروش</div>
                <div class="divTableCell">حجم</div>
                <div class="divTableCell">تعداد</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell" id="zd1"></div>
                <div class="divTableCell" id="qd1"></div>
                <div class="divTableCell" id="pd1q"></div>
                <div class="divTableCell" id="po1q"></div>
                <div class="divTableCell" id="qo1"></div>
                <div class="divTableCell" id="zo1"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell" id="zd2"></div>
                <div class="divTableCell" id="qd2"></div>
                <div class="divTableCell" id="pd2"></div>
                <div class="divTableCell" id="po2"></div>
                <div class="divTableCell" id="qo2"></div>
                <div class="divTableCell" id="zo2"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell" id="zd3"></div>
                <div class="divTableCell" id="qd3"></div>
                <div class="divTableCell" id="pd3"></div>
                <div class="divTableCell" id="po3"></div>
                <div class="divTableCell" id="qo3"></div>
                <div class="divTableCell" id="zo3"></div>
            </div>
        </div>
    </div>
</div>
<div id="chart" dir="ltr"></div>
<div id="portfo">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">نماد</div>
                <div class="divTableCell">تعداد</div>
                <div class="divTableCell">خالص میانگین</div>
                <div class="divTableCell">میانگین خرید</div>
                <div class="divTableCell">جمع خرید</div>
                <div class="divTableCell">نقطه سر به سر</div>
                <div class="divTableCell">قیمت لحظه ای</div>
                <div class="divTableCell">ارزش</div>
                <div class="divTableCell">سود/زیان</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>
            </div>
        </div>
    </div>
</div>
<div id="column"></div>
<div id="hotlist">
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">نماد</div>
                <div class="divTableCell">آخرین قیمت</div>
                <div class="divTableCell">تغییرات</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById('buyModal');

// Get the button that opens the modal
var btn = document.getElementById("buyBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>
{% endblock bodyContent %}
