{% extends "account_base.html" %}
{% block title %}تغییرات پروفایل{% endblock %}

{% block formBlock %}
    <div dir="rtl">

        <h1>تغییرات پروفایل</h1>
        <p>با استفاده از فرم زیر اطلاعات پروفایل خود را تغییر دهید:</p>
        <hr/>
        <br/>
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <br>
            <p><input type="submit" value="ذخیره"></p>
        </form>
    </div>
{% endblock %}