{% extends "base.html" %}
{% load staticfiles %}

{% block headContent %}
    <title>Xtrader</title>
    {% csrf_token %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <link rel="stylesheet" href="//necolas.github.io/normalize.css/3.0.1/normalize.css">
    <script src="//raw.githack.com/tahajahangir/jdate/master/jdate.min.js"></script>
    <script type="text/javascript">
        {% if SymbolId %}
            var symbol_name = "{{SymbolId}}";
        {% else %}
            var symbol_name = "IranKhodro_D_SH";
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/finance.js' %}"></script>
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script> #}

{% endblock headContent %}

{% block bodyAttr %}
     style="font-fami"
{% endblock bodyAttr %}
{#{% block menuAttrBlock %}#}
{#{% endblock menuAttrBlock %}#}
{% block bodyContent %}
    {% csrf_token %}
    <div class="ui container">
        <div id="search" class="ui fluid category search" style="z-index:10 ">
            <div class="ui icon input" style="width:50%; margin-left: 25%;">
                <input class="prompt" type="search" placeholder="جستجو نماد" dir="rtl">
                {#            color: #f1f2ef;#}
                <i class="search icon"></i>
            </div>
            <div class="results" style="width:50%; margin-left: 25%;"></div>
        </div>
    </div>

{% if False %}
<div class="modal" id="message">
    <div class="ui inverted message" style="z-index:30" dir="rtl">
        <i class="close icon" style="float:left;color:white" onclick="document.getElementById('message').remove()"></i>
        <div class="header">
        Welcome back!
        </div>
      <p>This is a special notification which you can dismiss if you're bored with it.</p>
    </div>
</div>
{% endif %}
    <div class="ui container" style="width: 90%">
        <div id="container1">
            <div id="container" style=" min-width: 310px;min-height: 600px"></div>
        </div>
    </div>
    <br>

    <div class="ui container" style="width: 90%">
        <div class="ui segments huge">
            <div class="ui segment">
                <div class="ui top right attached label" dir="rtl" style="font-family:IranSanc">
                    <h3>فیلتر ها و اندیکاتورها:</h3>
                </div>
                <div class="ui segments">
                    <div class="ui segment" dir="rtl">
                        <p class="about">انتخاب فیلتر: </p>
                        <select onchange="show_div(this.value)">
                            <option value="cross">قطع دادن</option>
                            <option value="ascending_main">صعودی یا نزولی بودن</option>
                            <option value="more_than">شرط مقایسه ای</option>
                            <option value="special_methods">روش ویژه</option>
                            <option value="advance_cross">قطع دادن پیشرفته</option>
                            <option value="just draw"> رسم اندیکاتورها</option>
                            <option value="config_trade">تنظیمات بک تست</option>
                            <option value="TSE_Filters">فیلتر نویسی</option>
                            <!--    <option value="draw line">رسم خطوط</option> -->
                            {# <option value="Technical_Patterns">Candlestick Patterns</option> #}
                        </select>
                        <a class="link" style="cursor:pointer" href="/media/Xtrader.pdf">(دانلود راهنمای استفاده)</a>
                        <div class="ui button" style="float: left" onclick="show_div('order')">خرید و فروش</div>
                    <!--    <div class="ui button" style="float: left" onclick="show_div('order')">فروش</div> -->
                    </div>
                    <div class="ui segment" id="cross" dir="rtl" style="display:block;">
                        <p class="about">قطع دادن یک اندیکاتور با یک اندیکاتور دیگر یا یک مقدار ثابت: </p>
                        <br>
                        <br>
                        <div>
                            اندیکاتور
                            <div class="about">
                                <select id="shorter" dir="ltr"
                                        onchange="insert_param('shorter');
                        ">
                                    <option value="">shorter</option>
                                </select>
                            </div>
                            {# <div > #}
                            <p id="shorter_param" dir="ltr" style="text-align: right"></p>
                            {# </div> #}
                            اندیکاتور
                            <div class="about">
                                <select id="longer" dir="ltr"
                                        onchange="insert_param('longer');
                        /*var w = (this.value.length + 1) * 8+4 ;if(w<70){w=130;} this.style.width = w + 'px';*/">
                                    <option value="">longer</option>
                                </select>
                            </div>
                            <p id="longer_param" dir="ltr" style="text-align: right"></p>
                            <br>
                            را در هنگام خرید رو به بالا و در هنگام فروش رو به پایین قطع کند. همچنین سیگنال این فیلتر
                            برای <input id="valid_cross" value=2 type="number" style="width: 6%"
                                        required>
                            روز معتبر باشد.
                            <br><br>
                            <select id="cross_chart_place">
                                <option value="on_chart">روی نمودار قیمت رسم شود</option>
                                <option value="below_chart">زیر نمودار رسم شود</option>
                            </select>
                            <div type="submit" class="ui button" style="float: left;"
                                 onclick="call_add('cross')">اضافه کردن
                            </div>

                        </div>
                    </div>
                    <div class="ui segment" style="display:none;" id="ascending_main" dir="rtl">
                        <p>تشخیص صعودی یا نزولی بودن یک اندیکاتور:</p>
                        <div>
                            اندیکاتور
                            <select id="ascending" dir="ltr"
                                    onchange="insert_param('ascending'); /*var w = (this.value.length + 1) * 8+4 ;if(w<70){w=130;} this.style.width = w + 'px';*/">
                                <option value="">ascending</option>
                            </select>
                            <p id="ascending_param" dir="ltr" style="text-align: right"></p>
                            برای <input type="number" id="days_ascending" value="3" style="width: 6%"> روز, در هنگام
                            خرید صعودی و در هنگام فروش نزولی باشد. همچنین سیگنال این فیلتر برای
                            <input
                                    type="number" id="valid_ascending" value="2" style="width: 6%"> روز معتبر باشد.
                            <br><br>
                            <select id="ascending_chart_place">
                                <option value="below_chart">زیر نمودار رسم شود</option>
                                <option value="on_chart">روی نمودار قیمت رسم شود</option>
                            </select>
                            <div type="submit" class="ui button" style="float: left;"
                                 onclick="call_add('ascending')">اضافه کردن
                            </div>
                        </div>
                    </div>
                    <div class="ui segment" id="more_than" style="display:none;" dir="rtl">
                        <p>شرط گذاشتن برای انجام خرید و فروش با مقایسه دو اندیکاتور: </p>
                        هنگام معامله اندیکاتور
                        <select id="main" dir="ltr" onchange="insert_param('main')">
                            <option value="">main</option>
                        </select>
                        <p id="main_param" dir="ltr" style="text-align: right"></p>
                        از اندیکاتور
                        <select id="minor" dir="ltr" type="search" onchange="insert_param('minor')">
                            <option value="">minor</option>
                        </select>
                        با محاسبه روی:
                        <select id="minor_apply">
                            <option value="default">پیش فرض</option>
                            <option value="close">close</option>
                            <option value="high">high</option>
                            <option value="low">low</option>
                            <option value="open">open</option>
                            <option value="volume">volume</option>
                        </select>
                        <p id="minor_param" dir="ltr" style="text-align: right"></p>
                        بیشتر باشد. همچنین سیگنال این فیلتر برای <input type="number" id="valid_more" value="2"
                                                                        style="width: 6%"> معتبر باشد.
                        <br><br>
                        <select id="more_chart_place">
                            <option value="below_chart">زیر نمودار رسم شود</option>
                            <option value="on_chart">روی نمودار قیمت رسم شود</option>
                        </select>
                        </select>
                        <div type="submit" class="ui button" style="float: left;"
                             onclick="call_add('more')">اضافه کردن
                        </div>
                    </div>
                    <div class="ui segment" style="display: none"
                         id="special_methods" dir="rtl">
                        <p>تشخیص سیگنال یک اندیکاتور با روش خاص خودش: </p>
                        <select id="special" dir="ltr" onchange="insert_param('special');describe(this.value);">
                            <option value="">
                                special
                            </option>
                            <option value="MACD(Moving Average Convergence/Divergence)">
                                MACD(Moving Average Convergence/Divergence)
                            </option>
                        </select>
                        <p id="special_param" dir="ltr" style="text-align: right"></p>
                        <p id="describe"></p>
                        سیگنال این فیلتر برای <input type="number" id="valid_special" value="2" style="width: 6%"> روز
                        معتبر باشد.
                        <br><br>
                        <select id="special_chart_place">
                            <option value="below_chart">زیر نمودار رسم شود</option>
                            <option value="on_chart">روی نمودار قیمت رسم شود</option>
                        </select>
                        <div type="submit" class="ui button" style="float: left;"
                             onclick="call_add('special')">اضافه کردن
                        </div>
                    </div>


                    <div class="ui segment" style="display: none"
                         id="order" dir="rtl">
                        <div id="stock_detail">
                            <div class="ui horizontal segments">
                                <div class="ui segment" dir="rtl" style="  text-align:right">
                                    <p>ارسال سفارش :</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="sending order" class="ui relaxed divided list">
                                        <p>قیمت: <input type="number" name="price"></p>
                                        <p>حجم: <input type="number" name="volume"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui segment" dir="rtl" style="  text-align:right">
                                    <p>اطلاعات قیمت :</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="price" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                                <div class="ui segment" dir="rtl" style=" text-align:right">
                                    <p>اطلاعات تابلو امروز:</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="tsetmc" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>



                    <div class="ui segment" id="config_trade" style="display:none;" dir="rtl">
                        <input id="valid_config_trade" value="0" style="display:none">
                        <input id="config" value="config_trade" style="display:none">
                        <select id="config_trade_chart_place" style="display:none">
                            <option value="below_chart">زیر نمودار رسم شود</option>
                            <option value="on_chart">روی نمودار قیمت رسم شود</option>
                        </select>
                        <p> حد ضرر قیمت پایین: <input type="number" min="0" id="config_stop loss" value="0"> ریال</p>
                        <p> حد سود قیمت پایانی: <input type="number" min="0" id="config_take profit" value="0"> ریال</p>
                        <p> موجودی اولیه: <input type="number" min="0" id="config_initial deposit" value="1000000"> ریال
                        </p>
                        <!--
                            <input type="date" max="1979-12-31"><br>
                            -->
                        <br><br>
                    </div>


                    <div class="ui segment" id="TSE_Filters" style="display:none;" dir="rtl" type="number">
                        <input id="filters_script" type="query" dir="ltr" placeholder="فیلتر خود را اینجا بنویسید">
                        <select id="config_trade_chart_place" style="display:none">
                            <option value="below_chart">زیر نمودار رسم شود</option>
                            <option value="on_chart">روی نمودار قیمت رسم شود</option>
                        </select>
                        <div type="submit" class="ui button" style="float: left;"
                             onclick="filter_market(document.getElementById('filters_script').value)">اسکن بازار
                        </div>
                        <br><br>
                    </div>


                    <div class="ui segment" style="display: none" id="Technical_Patterns">
                        <div>
                            Recognize
                            <select id="candlestick"
                                    onchange="insert_param('candlestick');">
                                <option value="">choose indicator</option>
                            </select>
                            <p id="candlestick_param"></p>
                            and valid for
                            <input
                                    type="number" id="valid_candlestick" value="2" style="width: 6%"> days
                            <select id="candlestick_chart_place" style="display:none">
                                <option value="on_chart">draw on chart</option>
                                <option value="below_chart">draw below chart</option>
                            </select>
                            <button type="submit" style="float: right;" onclick="call_add('candlestick')">
                                add
                            </button>
                        </div>
                    </div>
                    <div class="ui segment" style="display: none" dir="rtl" id="advance_cross">
                        <p>قطع دادن ترکیبی اندیکاتورها: </p>
                        <div>
                            در هنگام خرید اندیکاتور
                            <div class="about">
                                <select id="buying shorter" dir="ltr"
                                        onchange="insert_param('buying shorter');document.getElementById('selling shorter').value=this.value;insert_param('selling shorter');
                        ">
                                    <option value="">buying shorter</option>
                                </select>
                            </div>
                            <p id="buying shorter_param" dir="ltr" style="text-align: right"></p>
                            اندیکاتور
                            <div class="about">
                                <select id="buying longer" dir="ltr"
                                        onchange="insert_param('buying longer');document.getElementById('selling longer').value=this.value;insert_param('selling longer');">
                                    <option value="">buying longer</option>
                                </select>
                                را رو به بالا قطع کند.
                            </div>
                            <p id="buying longer_param" dir="ltr" style="text-align: right"></p>
                            و در هنگام فروش اندیکاتور
                            <div class="about">
                                <select id="selling shorter" dir="ltr" onchange="insert_param('selling shorter');">
                                    <option value="">selling shorter</option>
                                </select>
                            </div>
                            <p id="selling shorter_param" dir="ltr" style="text-align: right"></p>
                            اندیکاتور
                            <div class="about">
                                <select id="selling longer"
                                        onchange="insert_param('selling longer');" dir="ltr">
                                    <option value="">selling longer</option>
                                </select>
                            </div>
                            را رو به پایین قطع کند.
                            <p id="selling longer_param" dir="ltr" style="text-align: right"></p>
                            همچنین سیگنال این فیلتر برای <input id="valid_advance_cross" value=2 type="number"
                                                                style="width: 6%" required>
                            روز معتبر باشد.
                            <br><br>
                            <select id="advance_cross_chart_place">
                                <option value="below_chart">زیر نمودار رسم شود</option>
                                <option value="on_chart">روی نمودار قیمت رسم شود</option>
                            </select>
                            <div type="submit" class="ui button" style="float: left;"
                                 onclick="call_add('advance_cross')">اضافه کردن
                            </div>

                        </div>
                    </div>
                    <div class="ui segment" style="display: none" dir="rtl" id="just draw">
                        <p>اندیکاتورهای این قسمت تنها رسم می شوند و در بک تست و غیره در نظر گرفته نمی شود.</p>
                        <select id="draw" onchange="insert_param('draw')" dir="ltr">
                            <option value="">
                                draw
                            </option>
                        </select>
                        <p id="draw_param" dir="ltr" style="text-align: right"></p>
                        <input type="number" id="valid_draw" value="2" style="width: 6%;display:none">
                        <select id="draw_chart_place">
                            <option value="below_chart">زیر نمودار رسم شود</option>
                            <option value="on_chart">روی نمودار قیمت رسم شود</option>
                        </select>
                        <div type="submit" class="ui button" style="float: left;" onclick="call_add('draw')">اضافه کردن
                        </div>
                    </div>
                    <div class="ui segment" style="display: none" id="draw line">
                        Choose drawing method:
                        <select id="draw line" onchange="console.log('line changed')">
                            <option value="line">
                                line
                            </option>
                        </select>
                        <p class="about">To draw line choose two points by clicking</p>
                        <button type="submit" style="display:inline;float: right;"
                                onclick="let_draw({'tool':document.getElementById('draw line').value,'status':Number(1)})">
                            add
                        </button>
                    </div>
                    <div class="ui yellow segment" id="strategy place" dir="rtl" style="display: none">
                        <div class="ui top right attached label">
                            <h3>استراتژی من:</h3>
                        </div>
                        <div class="ui form" align="right">
                            <div class="grouped fields" id="strategies">
                            </div>
                            <div id="button_place"></div>
                        </div>
                    </div>
                    <div class="ui yellow segment" id="portfolio place" dir="rtl" style="display: none">
                        <div class="ui top right attached label" dir="rtl" style="font-family:IranSanc">
                            <h3>انتخاب سبد سهام برای دنبال کردن:</h3>
                        </div>
                        <div class="ui segments">
                            <div class="ui segment" dir="rtl">
                                <div class="ui container">
                                    <div class="ui horizontal segments">
                                        <div class="ui segment" dir="rtl" style="text-align:right">
                                            <div id="portfolio search" class="ui fluid category search" style="z-index:10;">
                                                <div class="ui icon input" style="width:50%; margin-left: 25%;">
                                                    <input class="prompt" type="search" placeholder="اضافه کردن نماد" dir="rtl">
                                                    <i class="search icon"></i>
                                                </div>
                                                <div class="results" style="width:50%; margin-left: 25%;"></div>
                                            </div>
                                        </div>
                                        <div class="ui segment" dir="rtl" style="text-align:right">
                                            <br>
                                            <div style="float:left" class="ui button" onclick="save_filters('default')">ذخیره استراتژی</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment" dir="rtl">
                                <div id="stocks place"></div>
                            </div>

                        </div>
                    </div>

                    <div class="ui yellow segment"  id='filters scan place' dir="rtl" style="display: none;">
                    </div>

                    <div class="ui yellow segment" style="display: none;" dir="rtl" id="scan place">
                        <div class="ui top right attached label">
                            <h3>نتیجه اسکن بازار:
                                <i class="unhide icon" style="float: left" onclick="toggle(this, 'scan result')">
                                </i>
                            </h3>
                        </div>
                        {#                            <button style="float: right" onclick="toggle(this, 'scan result')" name="hide">hide</button>#}
                        <div id="scan result" class="ui form" align="left">
                            <div class="ui horizontal segments">
                                <div class="ui segment" dir="rtl" style="text-align:right">
                                    <p>سیگنال خرید:</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="scan result buy" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                                <div class="ui segment" dir="rtl" style="text-align:right">
                                    <p>سیگنال فروش:</p>
                                    <div style="max-height: 200px;overflow:auto">
                                        <div id="scan result sell" class="ui relaxed divided list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container" style="width: 90%">
        <br>
        <div dir="rtl" id='table_place' style="display:none">
        </div>
    </div>
    <div class="content">
        <div class="header">
        </div>
    </div>


    <br><br><br><br>
    <div id="modal" class="modal" style="display: none;z-index:20" dir="rtl">
        <div class="ui icon floating message inverted">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    لطفا صبر کنید.
                </div>
                <p> Xtrader در حال محاسبه است.</p>
            </div>
        </div>
    </div>

{% endblock bodyContent %}
