{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}"/>

    {% block headContent %}
    {% endblock headContent %}
</head>
<body style="font-family: IranSanc" {% block bodyAttr %}
{% endblock bodyAttr %}>

<div id="wrapper">

    <div id="header">

        <div class="ui inverted pointing menu" dir="rtl" style="margin-top: 0px">
            <a class="item" href='/'>
                <h1>Xtrader</h1>
            </a>
            <a class="item" id="our_company" href={% url 'main:display' %}>
                <h4>بک تست</h4>
            </a>
            <a class="item" id="about_us" href={% url 'main:about_us' %}>
                <h4>درباره ما</h4>
            </a>
{#            <a class="item" id="contact_us" href={% url 'contact:contact_us' %}>#}
{#                <h4>تماس با ما</h4>#}
{#            </a>#}
            <a class="item" id="contact_us">
            </a>
            {% if user.is_authenticated %}
                {% if username %}
                    <div class="left item" style="cursor: default"><h4><a
                            href="{% url "accounts:userena_profile_detail" user.username %}">{{ username }}</a> خوش آمدی
                    </h4>
                    </div>
                    <a class="item"
                       href="{% url "accounts:userena_signout" %}">
                        <h4>خروج</h4>
                    </a>
                {% endif %}
            {% else %}
                <a class="left item"
                   href="{% url "accounts:userena_signin" %}">
                    <h4>ورود</h4>
                </a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block bodyContent %}
        {% endblock bodyContent %}
    </div>

    <div id="footer">

        <div class="ui inverted footer" align="center">

            <table dir="rtl" style="text-align:center" class="ui fixed inverted table">
                <thead>
                <tr>
                    <th style="width:30%">معرفی Xtrader</th>
                    <th style="width:30%">ارتباط با ما</th>
                    <th style="width:30%">شبکه ها اجتماعی</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>XTrader، یک دیده بان اتوماتیک بازار است، که با قابلیت­ها بی­ نظیر خود علاوه بر صرفه جویی در
                        زمان، عملکرد و سودآوری معامله گران را نیز بهبود می ­بخشد.
                    </td>
                    <td>
                        <div>تلفن:<p dir="ltr">021-2241 9418</p></div>
                        <div>ایمیل: info@xtrader.ir</div>
                        <div>آدرس: تهران، دانشگاه شهید بهشتی، مرکز رشد فناوری،
                            شتابدهنده فارابی
                        </div>
                    </td>
                    <td>
                        <div>کانال تلگرام: <a href="http://www.t.me/xtrader_market_watch" dir="ltr">@xtrader_market_watch</a>
                        </div>
                        <div>اینستاگرام: <a href="http://www.instagram.com/xtrader_market_watch" dir="ltr">@xtrader_market_watch</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<script type="text/javascript">
    $("*").not("i").css("font-family", "IranSanc");
</script>
</body>

</html>